@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Lato:wght@300&display=swap');

body {
    font-family: alegreya;
}

h1 {
    color: rgb(85, 26, 139);
}

h2 {
    color: rgb(85, 26, 139);
}


h1,
h2 {
    font-family: lato;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* navigation */

#nav-list li {
    float: right;
    list-style-type: none;
    letter-spacing: 4px;
}

#nav-list #logo {
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#nav-list a {
    text-decoration: none;
}

.navigation-right {
    margin-top: 30px;
    margin-right: 20px;

}

.color-letter {
    color: #E6C4E5;
}

a:hover {
    color: #E6C4E5;
}

/* image */

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/medium-vighnesh-dudani-ZQSs0YZUNfA-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
}

.container {
    position: relative;
    text-align: left center;
    color: rgb(85, 26, 139)
}

.left-image-text {
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 37px;
    max-width: 30%;

}

/* about */

#about {
    background-color: #9E65CE;
    
}

div.about-text {
    height: 300px;
    width: 100%;
    
}

/* gallery images */

#gallery {
    background-color: #9E65CE;
}


div.gallery {
    margin: 8px;
    float: left;
    width: 330px;
    margin-left: 35px;
    margin-top: 35px;
}

div.gallery:hover {
    background-color: #E6C4E5;
}


div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
    
}

div.desc {
    padding: 15px;
    text-align: center;
}