@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Lato:wght@300&display=swap');

body {
    font-family: alegreya;
}

h1, h2 {
    font-family: lato;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* navigation */

#nav-list li {
    float: right;
    list-style-type: none;
    letter-spacing: 4px;
}

#nav-list #logo {
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#nav-list a {
    text-decoration: none;
}

#navigation-right li {
    margin-top: 30px;
    margin-right: 20px;
}

.color-letter {
    color: #E6C4E5;
}

/* image */

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/medium-vighnesh-dudani-ZQSs0YZUNfA-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
}