@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Lato:wght@300;400;700&display=swap');


/* To keep my content from spreading too wide on very large screens I will give the body a max-width between 1800px(112.5rem)
 and 2500px(156.25rem) and center it on the document using the margin-left/right auto. */

body {
    font-family: 'Alegreya', serif;
    max-width: 125rem;
    margin-left: auto;
    margin-right: auto;
}


/* headings */


h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    color: rgb(85, 26, 139);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.section-heading {
    border-bottom: 0.3rem solid;
    max-width: fit-content;
    margin: 0 auto;
    font-size: 2.5rem;
    padding-top: 1.56rem;
}


/* navigation */


#logo,
#nav-list {
    line-height: 4.68rem;
}

#nav-list li {
    float: right;
    list-style-type: none;
    letter-spacing: 0.25rem;
    margin-right: 1.25rem;
    margin-top: 0.5rem;
}

#logo {
    font-size: 3.125rem;
    text-transform: uppercase;
    float: left;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    letter-spacing: 0.25rem;
}

#nav-list a {
    text-decoration: none;
    color: rgb(85, 26, 139);
}

.color-letter {
    color: #C976C4;
}

#nav-list a:hover {
    color: #C976C4;
}

a:active {
    color: #E6C4E5;
}


/* image */



#hero-image {
    height: 31.25rem;
    width: 100%;
    background-image: url('../images/cube-hero.png');
    /* Image taken from unsplash.com */
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    background-size: cover;
}

.container {
    position: relative;
    color: rgb(85, 26, 139)
}

.left-image-text {
    position: absolute;
    margin-top: 8.125rem;
    margin-left: 1.25rem;
    font-size: 2.06rem;
    width: 35%;
    line-height: 1.3;
    padding-left: 0.312rem;

}


/* about */


#about {
    margin-top: 1.25rem;

    /*align-items: center;*/

}

/* I used flex for the About and Gallery section, I found two codepen.io websites that use flex as reference to figure out 
how it works and eventually get it working right with my sections. */

.about-container {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 0 1.875rem;
    display: flex;
    justify-content: space-between;
}

.about-box {
    flex: 1;
    text-align: center;
}

#about p {
    margin-top: 1.25rem;
}

.about-box img {
    border-radius: 18.75rem;
    max-width: 13.125rem;
    margin-top: 1.9375rem;
}


/* gallery */


#gallery {

    width: 100%;
    background-color: #E6C4E5;
    margin-top: -0.4375rem;
}

#gallery-section {
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 1.875rem;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.gallery--child {
    flex: 0;
    text-align: center;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    flex-basis: 20%;
}

#gallery h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    max-width: 12.75rem;
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.5625rem;
}

#gallery img {
    max-width: 100%;
    display: block;
    border-radius: 0.625rem;
}


h4.desc {
    padding: 0.9375rem;
    text-align: center;
    font-family: cursive;
    font-size: 1.25rem;
    color: rgb(85, 26, 139);
}


/* form */

/* I used the form code from the challenge 1 and 2 I did for the love running website but altered it to better suit my site */

#form {
    background-image: url('../images/cube-dismantled.jpg');
    clear: left;
    background-size: cover;
    background-position: center;
    height: 43.75rem;
}

.signup-form {
    margin: 5% 10% 0 0;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    left: 35%;
    padding: 1.875rem;
    color: black;
}

.signup-form h2 {
    color: black;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    text-align: center;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 1.5625rem;
    margin: 0.3125rem 0 1.25rem 0;
    border: 0.125rem solid black;
    border-radius: 0.125rem;
    font-weight: bold;
}

.text-input:hover {
    border-color: black;
}

.join-button {
    margin-top: 1.25rem;
    border-radius: 0.125rem;
    padding: 0.9375rem 2rem 0.9375rem 2rem;
    text-align: center;
    font-size: 100%;
    background-color: rgb(85, 26, 139);
    color: white;
    display: block;
    border-radius: 1.875rem;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(85, 26, 139);
}


/* footer */


footer {
    padding: 1.25rem;
    margin-top: 0;
    color: #fff;
    background-color: rgb(85, 26, 139);
    text-align: center;
}

footer li {
    list-style-type: none;
}

#footer-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*gap: 0px;*/
}

footer a {
    text-decoration: none;
}

#footer-text a {
    color: #E6C4E5;
}

footer i {
    margin-right: 0.3125rem;
}

footer p {
    margin-top: 0.3125rem;
}


/* media screens */


@media screen and (max-width: 1200px) {

    .left-image-text {
        font-size: 1.6875rem;
        max-width: 35%;
        line-height: 1.5;

    }

    .about-box img {
        max-width: 12.125rem;
    }
}

@media screen and (max-width: 943px) {

    #nav-list {
        clear: left;
        float: left;
        margin-left: 2rem;
        margin-bottom: 1.25rem;
        line-height: 1.5625rem;
    }

    .left-image-text {
        width: 45%;
        max-width: 45%;
    }

    .about-box img {
        max-width: 11.125rem;
    }

}

@media screen and (max-width: 768px) {
    #about .about-container {
        flex-direction: column;
        text-align: center;
    }

    #footer-text span {
        display: none;
    }

    #gallery img {
        max-width: 9.375rem;
    }

    .left-image-text {
        max-width: 59%;
        width: 59%;
        font-size: 1.5625rem;
    }

    .about-box img {
        max-width: 10.125rem;
    }


}

@media screen and (max-width: 480px) {

    .left-image-text {
        max-width: 100%;
        width: 95%;
        font-size: 1.125rem;
        padding-left: 0rem;
        margin-top: 9.375rem;
    }

    /* I used a second image that has the cube more centered, so on smaller devices it will still be in view */

    #hero-image {
        background-image: url('../images/cube-hero-image.jpg');
        height: 25rem;
    }

    #nav-list {
        margin-left: 0.1875rem;

    }

    #nav-list li {
        letter-spacing: 0rem;
    }

    #gallery img {
        max-width: 8.4375rem;
    }

    .about-box img {
        max-width: 9.125rem;
    }
}